[Unit]
Description=OpenVSCode Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/openvscode-server/bin/openvscode-server --host 0.0.0.0 --port 3463 --without-connection-token
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
